:root {
    --primary-color: #2c2c96;
    --primary-hover-color: #222275;
    --dark-color: #161637;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 80px;
}

a {
    text-decoration: none;
}

button:focus {
    outline: none;
}
